body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fa;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  background: linear-gradient(to right, #96d7d7, #fdc38f);
  color: #ffffff;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
  border: 1px solid transparent; 
  border-image: linear-gradient(to right, #76b7b7, #e3a175); 
  border-image-slice: 1; 
  font-family: "Open Sans", sans-serif;
  font-size: 50px; /
}
header h1 {
  margin: 0;
}
#map, body, html {
  height: 100%;
}

footer {
  background-color: #fdc38f;
  padding: 20px 0;
  border-radius: 10px; 
  text-align: center;
}
.dropbtn {
  background-color: rgba(75, 192, 161, 0.9); 
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-align: center; 
  display: block; 
  margin: 0 auto; 
}


.card-title {
  text-align: center; 
}
.dropdown-content {
  display: none;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  text-align: left; 
  position: relative; 
}


.card {
  text-align: center; 
  position: relative; 
}

.dropdown-content a {
  color: rgba(0, 0, 0, 0.658);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #96d7d7;
}
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1; 
}
.weather-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Add this line */
  align-items: center;
  justify-content: space-between;
}

#arrow-icon {
  position: absolute; /* Position the arrow icon absolutely */
  right: 10px; /* Adjust the right position as needed */
  top: 50%; /* Position the arrow icon vertically in the middle */
  transform: translateY(-50%); /* Center the arrow icon vertically */
}

.arrow-up {
  transform: rotate(180deg);
}

.weather-box {
  display: none; /* Initially hide the weather box */
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer p {
  font-size: 12px;
}
